@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.bg-main {
    background-color: rgb(247, 251, 241);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-dark: rgb(32, 33, 36);
    --color-dark2: rgb(48, 48, 53);
    --color-red1: #df463e;
    --faded-warning: rgba(253, 188, 49, .15)
    --radius-5xl: 3rem;
    --radius-inherit: inherit;

    --animate-scale-up: scaleUp 0.5s ease-out;

    @keyframes scaleUp {
        0% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.spinner_jCIR {
    animation: spinner_B8Vq .9s linear infinite;
    animation-delay: -.9s
}

.spinner_upm8 {
    animation-delay: -.8s
}

.spinner_2eL5 {
    animation-delay: -.7s
}

.spinner_Rp9l {
    animation-delay: -.6s
}

.spinner_dy3W {
    animation-delay: -.5s
}

@keyframes spinner_B8Vq {
    0%, 66.66% {
        animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
        y: 6px;
        height: 12px
    }
    33.33% {
        animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
        y: 1px;
        height: 22px
    }
}
