@import "../node_modules/tailwindcss";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.bg-main {
    background-color: rgb(247, 251, 241);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-dark: rgb(32, 33, 36);
    --color-dark2: rgb(48, 48, 53);
    --color-red1: #df463e;
    --faded-warning: rgba(253, 188, 49, .15)
    --radius-5xl: 3rem;
    --radius-inherit: inherit;

    --animate-scale-up: scaleUp 0.5s ease-out;

    @keyframes scaleUp {
        0% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.spinner_jCIR {
    animation: spinner_B8Vq .9s linear infinite;
    animation-delay: -.9s
}

.spinner_upm8 {
    animation-delay: -.8s
}

.spinner_2eL5 {
    animation-delay: -.7s
}

.spinner_Rp9l {
    animation-delay: -.6s
}

.spinner_dy3W {
    animation-delay: -.5s
}

@keyframes spinner_B8Vq {
    0%, 66.66% {
        animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
        y: 6px;
        height: 12px
    }
    33.33% {
        animation-timing-function: cubic-bezier(0.36, .61, .3, .98);
        y: 1px;
        height: 22px
    }
}

/*dialog css*/

.modal {
    --bs-dialog-zindex: 1055;
    --bs-dialog-width: 500px;
    --bs-dialog-padding: 1rem;
    --bs-dialog-margin: 0.5rem;
    --bs-dialog-color: ;
    --bs-dialog-bg: var(--bs-body-bg);
    --bs-dialog-border-color: var(--bs-border-color-translucent);
    --bs-dialog-border-width: 0;
    --bs-dialog-border-radius: 0.313rem;
    --bs-dialog-box-shadow: var(--bs-box-shadow-sm);
    --bs-dialog-inner-border-radius: 0.313rem;
    --bs-dialog-header-padding-x: 1rem;
    --bs-dialog-header-padding-y: 1rem;
    --bs-dialog-header-padding: 1rem 1rem;
    --bs-dialog-header-border-color: var(--bs-border-color);
    --bs-dialog-header-border-width: var(--bs-border-width);
    --bs-dialog-title-line-height: 1.5;
    --bs-dialog-footer-gap: 0.5rem;
    --bs-dialog-footer-bg: ;
    --bs-dialog-footer-border-color: var(--bs-border-color);
    --bs-dialog-footer-border-width: var(--bs-border-width);
    position: fixed;
    inset: 0;
    z-index: var(--bs-dialog-zindex);
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    transition: opacity .3s;
    background: rgba(0, 0, 0, 0.5);
}

.dialog-dialog {
    position: relative;
    width: auto;
    margin: var(--bs-dialog-margin);
    pointer-events: none;
}

.modal.fade .dialog-dialog {
    transition: transform 0.2s ease-out;
    transform: scale(1.07);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .dialog-dialog {
        -webkit-transition: none;
        transition: none;
    }
}

.modal.show .dialog-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal.dialog-static .dialog-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.dialog-dialog-scrollable {
    height: calc(100% - var(--bs-dialog-margin) * 2);
}

.dialog-dialog-scrollable .dialog-content {
    max-height: 100%;
    overflow: hidden;
}

.dialog-dialog-scrollable .dialog-body {
    overflow-y: auto;
}

.dialog-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - var(--bs-dialog-margin) * 2);
}


.dialog-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: var(--bs-dialog-color);
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: var(--bs-dialog-border-width) solid var(--bs-dialog-border-color);
    border-radius: var(--bs-dialog-border-radius);
    outline: 0;
}

.dialog-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.dialog-backdrop.fade {
    opacity: 0;
}

.dialog-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}

.dialog-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--bs-dialog-header-padding);
    border-bottom: var(--bs-dialog-header-border-width) solid var(--bs-dialog-header-border-color);
    border-top-left-radius: var(--bs-dialog-inner-border-radius);
    border-top-right-radius: var(--bs-dialog-inner-border-radius);
}

.dialog-header .btn-close {
    padding: calc(var(--bs-dialog-header-padding-y) * 0.5) calc(var(--bs-dialog-header-padding-x) * 0.5);
    margin: calc(-0.5 * var(--bs-dialog-header-padding-y)) calc(-0.5 * var(--bs-dialog-header-padding-x)) calc(-0.5 * var(--bs-dialog-header-padding-y)) auto;
}

.dialog-title {
    margin-bottom: 0;
    line-height: var(--bs-dialog-title-line-height);
}

.dialog-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-dialog-padding);
}

.dialog-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: calc(var(--bs-dialog-padding) - var(--bs-dialog-footer-gap) * 0.5);
    background-color: var(--bs-dialog-footer-bg);
    border-top: var(--bs-dialog-footer-border-width) solid var(--bs-dialog-footer-border-color);
    border-bottom-right-radius: var(--bs-dialog-inner-border-radius);
    border-bottom-left-radius: var(--bs-dialog-inner-border-radius);
}

.dialog-footer > * {
    margin: calc(var(--bs-dialog-footer-gap) * 0.5);
}

@media (min-width: 576px) {
    .modal {
        --bs-dialog-margin: 1.75rem;
        --bs-dialog-box-shadow: var(--bs-box-shadow);
    }

    .dialog-dialog {
        max-width: var(--bs-dialog-width);
        margin-right: auto;
        margin-left: auto;
    }

    .dialog-sm {
        --bs-dialog-width: 300px;
    }
}

@media (min-width: 992px) {
    .dialog-lg,
    .dialog-xl {
        --bs-dialog-width: 800px;
    }
}

@media (min-width: 1200px) {
    .dialog-xl {
        --bs-dialog-width: 1140px;
    }
}

.dialog-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

.dialog-fullscreen .dialog-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.dialog-fullscreen .dialog-header,
.dialog-fullscreen .dialog-footer {
    border-radius: 0;
}

.dialog-fullscreen .dialog-body {
    overflow-y: auto;
}

@media (max-width: 575.98px) {
    .dialog-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .dialog-fullscreen-sm-down .dialog-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .dialog-fullscreen-sm-down .dialog-header,
    .dialog-fullscreen-sm-down .dialog-footer {
        border-radius: 0;
    }

    .dialog-fullscreen-sm-down .dialog-body {
        overflow-y: auto;
    }
}

@media (max-width: 767.98px) {
    .dialog-fullscreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .dialog-fullscreen-md-down .dialog-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .dialog-fullscreen-md-down .dialog-header,
    .dialog-fullscreen-md-down .dialog-footer {
        border-radius: 0;
    }

    .dialog-fullscreen-md-down .dialog-body {
        overflow-y: auto;
    }
}

@media (max-width: 991.98px) {
    .dialog-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .dialog-fullscreen-lg-down .dialog-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .dialog-fullscreen-lg-down .dialog-header,
    .dialog-fullscreen-lg-down .dialog-footer {
        border-radius: 0;
    }

    .dialog-fullscreen-lg-down .dialog-body {
        overflow-y: auto;
    }
}

@media (max-width: 1199.98px) {
    .dialog-fullscreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .dialog-fullscreen-xl-down .dialog-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .dialog-fullscreen-xl-down .dialog-header,
    .dialog-fullscreen-xl-down .dialog-footer {
        border-radius: 0;
    }

    .dialog-fullscreen-xl-down .dialog-body {
        overflow-y: auto;
    }
}

@media (max-width: 1399.98px) {
    .dialog-fullscreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .dialog-fullscreen-xxl-down .dialog-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .dialog-fullscreen-xxl-down .dialog-header,
    .dialog-fullscreen-xxl-down .dialog-footer {
        border-radius: 0;
    }

    .dialog-fullscreen-xxl-down .dialog-body {
        overflow-y: auto;
    }
}

.vstack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: stretch;
}

.hstack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.main-sidebar {
    /*isolation: isolate;*/
}

.sdb-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 39;
    opacity: 0;
    transition: opacity .3s ease;
}

.sdb-backdrop.show {
    opacity: 1;
}

/* HTML: <div class="loader"></div> */
.dot-loader {
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #000
    }
    33% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background: #0002
    }
    66% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #0002
    }
    100% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background: #000
    }
}

.spinner_S1WN {
    animation: spinner_MGfb .8s linear infinite;
    animation-delay: -.8s
}

.spinner_Km9P {
    animation-delay: -.65s
}

.spinner_JApP {
    animation-delay: -.5s
}

@keyframes spinner_MGfb {
    93.75%, 100% {
        opacity: .2
    }
}